function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push static 1
pop static 2
push static 1
pop static 3
push constant 0
push static 1
add
push constant 14335
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 6
push static 2
pop local 0
push static 2
pop local 1
push static 2
pop local 2
label WHILE_EXP0
push local 1
push static 3
eq
not
not
if-goto WHILE_END0
push local 1
push static 0
add
pop pointer 1
push that 0
push argument 0
eq
push constant 1
add
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 2
push local 0
pop local 3
push static 3
pop local 1
goto IF_END0
label IF_FALSE0
push local 1
push static 0
add
pop pointer 1
push that 0
push argument 0
gt
push constant 1
add
push local 1
push static 0
add
pop pointer 1
push that 0
push local 2
push static 0
add
pop pointer 1
push that 0
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
pop local 2
push local 0
pop local 3
label IF_FALSE1
push local 1
pop local 0
push local 1
push static 1
add
pop pointer 1
push that 0
pop local 1
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push local 2
push static 0
add
pop pointer 1
push that 0
push argument 0
push constant 1
add
sub
pop local 4
push local 2
push local 4
push constant 1
add
add
pop local 5
push local 4
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push static 0
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
neg
push local 5
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 5
return
goto IF_END2
label IF_FALSE2
push local 2
push static 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop static 2
goto IF_END3
label IF_FALSE3
push local 2
push static 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 3
pop static 3
push local 3
push constant 1
add
push static 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END4
label IF_FALSE4
push local 3
push constant 1
add
push static 0
add
push local 2
push constant 1
add
push static 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END4
label IF_END3
push constant 1
neg
push local 5
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 5
return
label IF_END2
function Memory.deAlloc 1
push argument 0
push constant 1
sub
pop local 0
push constant 0
push local 0
add
push constant 1
neg
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push constant 1
add
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
pop static 3
push constant 0
return
function Memory.next_block 0
push argument 0
push constant 1
add
push static 1
add
pop pointer 1
push that 0
return
function Memory.block_size 0
push argument 0
push static 1
add
pop pointer 1
push that 0
return
